@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/verhovenskyivan">Me</a>.</p> 
    <p>It's my first wep application using ASP.NET</p>
    <p>The start of it is @DateTime.Now</p>
</div>
