html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  color:#ffffff;
}

body {
  margin-bottom: 60px;
  background: #05010a;
}
footer {
    text-align:center;
    color:#ffffff;
    
}